<!DOCTYPE html>
<html>
  <head>
    <title>SDN Plug and Play WebGUI</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta charset="utf-8">
    <meta name="Description" content="SDN Project WebGui">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.9/jquery.fullPage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="assets/css/bundle.css") }}">
    <link rel="icon" type="image/png" href="{{ url_for("static", filename="images/favicon.ico") }}">
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <script type="text/javascript" src="{{ url_for("static", filename="js/d3.v3.js") }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/jquery-2.0.3.js") }}"></script>
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  </head>
  <body>
      <div class="main">
          <section class="section pure-g">
              <img class="full-bg" src="{{ url_for("static", filename="assets/img/full-bg1.jpg") }}">
              <div class="banner pure-u-1 pure-u-sm-2-3 pure-u-md-2-3 pure-u-lg-1-3">
                <h1>
                  Introduce
                </h1>
                <center>
                  <code>
                  &ltSDN Web GUI&gt
                     
                  &lt/to be&gt
                  &ltinterest&gt
                     Marathon
                  &lt/interest&gt
                  &ltplay hard&gt
                     
                  &lt/study hard&gt
                  </code>
                  <br/>
                  
                  <br/>
                  
                </center>
              </div>
              <div class="btn-group">
                <div class="round-btn bg-monza" data-content="enter"><a href="#secondPage">#Login</a></div>
                <div class="round-btn bg-old-brick" data-content="show rules"><a href="#thirdPage">#FlowEntry</a></div>
              </div>
          </section>

          <section id="about-container" class="section bg-ming pure-g">
            <div class="header">
              <h1 class="white">Login service</h1>
            </div>
            <div class="about-section pure-u-1">

            <script>
            function myFunction() {
              var x;
              if (confirm("confirm to submit!") == true) {
              x = "You pressed OK!";
              } else {
                x = "You pressed Cancel!";
                }
                document.getElementById("submit").innerHTML = x;
            }
            </script>
            <center>
              <form class="pure-form pure-form-stacked" action="/add" method="POST">
                <fieldset>
                  <label for="username"><h3>{ User Name }</h3></label>
                  <br></br>
                  
                  <input name="username" type="text"  placeholder="Username">
                  <br></br>
                  <label for="mac"><h3>{ MAC Adress }</h3></label>
                  <br></br>
                  <input class="pure-input-1-2" name="mac" type="text" placeholder="00:11:AA:22:3A:7D">  
                  <br></br>
                  <label for="port"><h3>{ Port }</h3></label>
                  <br></br>
                  
                  <input name="port" type="text"  placeholder="Port">
                  <br></br>
                  <button type="submit" class="pure-button pure-button-primary" id="submit" onclick="myFunction()">Submit</button>
              </fieldset>
              </form>
            </center>
            
            </div>
            
          </section>
          
          
          
          <section class="section bg-lynch pure-g" style="z-index:-2;">
            <img class="full-bg" src="{{ url_for("static", filename="assets/img/full-bg1.jpg") }}" style="z-index:-1;">
            <div class="header">
              <h1 class="white">Flow Entry</h1>
            </div>
            <div class="contact-section pure-u-1">
              <h2 class="white">Switch 狀態:</h2>
            
            <table class="pure-table white" style="margin: 0px auto;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>DPID desc.</th>
                    <th>HW desc.</th>
                    <th>Manufacture desc.</th>
                    <th>Serial num</th>
                    <th>SW desc.</th>
                </tr>
            </thead>
            <tbody>
            {% if sw_desc %}
                {% for sw in sw_desc %}
                    {% for dpid1, desc in sw.iteritems() %}
                        <tr>
                            <td>{{ dpid1 }}</td>
                            <td>{{ desc["dp_desc"] }}</td>
                            <td>{{ desc["hw_desc"] }}</td>
                            <td>{{ desc["mfr_desc"] }}</td>
                            <td>{{ desc["serial_num"] }}</td>
                            <td>{{ desc["sw_desc"] }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>

              <!--<h2 class="white">Dpid 狀態:{{ dpid }}</h2>-->
              <!--<h2 class="white">Port 狀態:{{ port }}</h2>-->
              <h2 class="white">Flow_table 狀態:</h2>
              
              {% if dpid %}
            <table class="pure-table white" style="margin: 0px auto;">
                <thead>
                    <tr>
                        
                        <th>Priority</th>
                        <th>Match</th>
                        <th>Actions</th>
                        <th>Byte count</th>
                        <th>Length</th>
                        <th>Idle timeout</th>
                        <th>Hard timeout</th>
                        <th>Table id</th>
                    </tr>
                </thead>
                <tbody>
                {% if flow_table %}
                    {% for key, list in flow_table.iteritems() %}
                        {% for value in list %}
                            <tr>
                                <td>{{ value["priority"] }}</td>
                                <td>
                                    {{ value["match"] }}
                                    {#
                                    {% for m_key, m_value in value["match"].iteritems() %}
                                      {{ m_key }}
                                      {{ m_value }}
                                    {% endfor %}
                                    #}
                                </td>
                                <td>{{ value["actions"] }}</td>
                                <td>{{ value["byte_count"] }}</td>
                                <td>{{ value["length"] }}</td>
                                <td>{{ value["idle_timeout"] }}</td>
                                <td>{{ value["hard_timeout"] }}</td>
                                <td>{{ value["table_id"] }}</td>

                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
         {% endif %}
            </div>

            <footer>
              <br/>Powered by <a href="http://purecss.io/" target="_blank">pure.css</a>, <a href="http://alvarotrigo.com/fullPage/" target="_blank">fullPage.js</a>, <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">fontawesome</a>, <a href="http://jnicol.github.io/particleground/" target="_blank">particleground</a>
            </footer>
          </section>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.9/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="assets/js/build.min.js") }}" charset="utf-8"></script>
    

  </body>
</html>
